/* Стилі для хедера */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerRignt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.menuItem {
  position: relative;
}

.subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c4eff5;
  border: 1px solid #6ee1f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.subMenu a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

/* Стилі для бургер-меню */
.burger {
  display: block;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto; /* Завжди праворуч */
}

.burgerMenu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.burgerMenu a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

/* Медіазапити для адаптивності */
@media (max-width: 1024px) {
  .nav > *:nth-child(4) {
    display: none; /* Приховуємо останній елемент меню поступово */
  }
}

@media (max-width: 768px) {
  .nav > *:nth-child(3) {
    display: none; /* Приховуємо ще один елемент меню поступово */
  }
}

@media (max-width: 576px) {
  .nav {
    display: none; /* Повністю приховуємо меню на дуже малих екранах */
  }
}
