.firstSurgeryContainer {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e5f0a8bd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerSection {
  background-image: url('/chirurg.jpg'); /* Шлях до зображення */
  background-size: cover;
  background-position: center;
  height: 15cm; /* Фіксована висота */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.firstSurgeryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.firstSurgeryText {
  max-width: 80%;
  background-color: #f7eaa1bd;
  border-bottom: 2px solid #9ca519;
  border-radius: 2%;
}

.firstSurgeryText p {
  padding-left: 20px;
  margin-top: 10px;
  color: #555;
  line-height: 1.6;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.firstSurgeryImage img {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  border-radius: 2%;
  border: 2px solid #1d1c1c;
  gap: 30px;
}

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .firstSurgeryTitle {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

.firstSurgeryContainer h2 {
  text-align: center; /* Центрування тексту по горизонталі */
  margin-top: 20px; /* Відступ зверху */
  margin-bottom: 20px; /* Відступ знизу */
  font-size: 24px; /* Змінити розмір шрифту, якщо потрібно */
}
