/* Стилі для компоненту DoctorsDepartment */

/* Заголовок */
.headerSection {
  background-color: #e0f7fa13;
  padding: 20px;
  text-align: center;
}

.headerSection h2 {
  color: dodgerblue;
}

.headerTitle {
  font-size: 3rem;
  font-weight: bold;
}

/* Контейнер карток */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  justify-content: flex-start; /* Використовуйте flex-start для більшої сумісності */
}

.cardWrapper {
  flex: 1 1 1000px;
  max-width: 1000px;
}

.enlargedCardImage {
  width: 700px;
  height: 500px;
  object-fit: cover;
  border-radius: 25px;
}

/* Кастомні стилі карток */
.customCard {
  display: flex;
  flex-direction: row;
  background-color: #fffbea;
  padding: 30px;
  border: 2px solid #f0ad4e;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 300px;
}

.customCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.customCardImage {
  flex: 5;
  max-width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  padding: 5px;
}

.customCardContent {
  flex: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customCardTitle {
  font-size: 2rem; /* Зменшено для більшої сумісності */
  font-weight: bold;
  color: #141414;
  margin: 10px 0;
}

.customCardDescription {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}
