.galleryWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%; /* Галерея займає всю ширину сторінки */
  overflow: hidden;
  padding: 0 20px; /* Додатковий відступ навколо галереї */
  box-sizing: border-box; /* Врахування падінгів у ширині */
}

.gallery {
  display: flex;
  overflow-x: auto; /* Увімкнення горизонтального скролінгу */
  scroll-behavior: smooth; /* Плавний скролінг */
  scrollbar-width: none; /* Вимкнення скролбару для Firefox */
  white-space: nowrap; /* Запобігає переносу елементів на новий рядок */
  padding-left: 10px; /* Відступ зліва для зображень */
  padding-right: 10px; /* Відступ справа для зображень */
  margin-top: 20px;
}

.gallery::-webkit-scrollbar {
  display: none; /* Вимкнення скролбару для Chrome */
}

.imageContainer {
  flex-shrink: 0; /* Забороняє зображенням стискатися */
  width: 400px; /* Нова ширина для збільшення зображень */
  height: 350px; /* Нова висота для збільшення зображень */
  margin-right: 10px; /* Відступ між зображеннями */
  overflow: hidden; /* Приховує частини зображень, що виходять за межі контейнера */
  position: relative; /* Для коректної роботи next/image */
  border-radius: 8px; /* Закруглення кутів (опціонально) */
}

.imageContainer:last-of-type {
  margin-right: 0; /* Видалення відступу для останнього зображення */
}

.scrollButton {
  background-color: #4193f141;
  color: #e61111;
  border: none;
  padding: 15px; /* Збільшено розмір кнопок */
  cursor: pointer;
  font-size: 28px; /* Збільшено розмір шрифту кнопок */
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Збільшено ширину кнопок */
  height: 50px; /* Збільшено висоту кнопок */
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollButton:first-of-type {
  left: 20px; /* Відступ зліва */
}

.scrollButton:last-of-type {
  right: 20px; /* Відступ справа */
}
