/* Загальний контейнер */
.bigBord {
  font-family: Arial, sans-serif;
  padding: 5px;
  text-align: center;
  background-image: url('/big2.jpg'); /* Шлях до вашого зображення */
  background-size: cover; /* Зображення покриває весь блок */
  background-position: center; /* Центрування зображення */
  background-repeat: no-repeat; /* Зображення не повторюється */
}

.containerBig {
  display: flex;
  flex-direction: column; /* Елементи в колонку */
  align-items: flex-start; /* Вирівнювання по лівому краю */
  padding: 20px;

  background-color: rgba(
    255,
    255,
    255,
    0.068
  ); /* Напівпрозорий білий фон для читабельності */
  border-radius: 10px; /* Додаємо округлені кути */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Додаємо легку тінь */
}

/* Заголовок */
.mainTitle {
  font-size: 3rem;
  color: #2a2a2a;
  margin-top: 100px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.subTitle {
  font-size: 1.2rem;
  color: #141414;
  margin-bottom: 50px;
}

/* Кнопка */
.contactButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 80px;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: #0056b3;
}

/* Статистика */
.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(
    75,
    150,
    226,
    0.8
  ); /* Зберігаємо колір, додаючи прозорість */
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
  width: 80%;
  max-width: 1200px;
  min-width: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.stats p {
  font-size: 1rem;
  color: #2408a1; /* Білий текст для контрасту */
}

.stats span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .stats {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

/* Опис пропозицій */
.offerTitle {
  font-size: 2rem;
  color: #180101;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #0b0372;
  line-height: 1.8;
  margin-bottom: 40px;
}

/* Картки */
.cardsSection {
  padding-top: 20px;
}
