.firstSurgeryContainer {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e5f0a8bd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerSection {
  background-image: url('/chirurg.jpg'); /* Шлях до зображення */
  background-size: cover;
  background-position: center;
  height: 15cm; /* Фіксована висота */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.firstSurgeryTitle {
  display: flex;
  align-items: center;

  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.firstSurgeryText {
  max-width: 70%;
  background-color: #f7eaa1bd;
  border-bottom: 2px solid #9ca519;
}

.firstSurgeryImage img {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: auto;
  border-radius: 10%;
  border: 2px solid #1d1c1c;
}

.firstSurgeryContainer h2 {
  text-align: center; /* Центрування тексту по горизонталі */
  margin-top: 20px; /* Відступ зверху */
  margin-bottom: 20px; /* Відступ знизу */
  font-size: 24px; /* Змінити розмір шрифту, якщо потрібно */
}

.firstSurgerySection h3 {
  font-size: 1.4em;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b2d3f1;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
  border-bottom: 2px solid #0b52d4;
}

.firstSurgerySection h3:hover {
  background-color: #0faae7;
}

.firstSurgerySection h3 span {
  font-size: 0.8em;
}

.firstSurgerySection ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  color: #555;
  line-height: 1.6;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.firstSurgerySection ul li {
  padding: 5px 0;
}

.firstSurgeryText p {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  color: #555;
  line-height: 1.6;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.children h4 {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}
