.headerSection {
  display: flex;
  align-items: center;

  justify-content: center;
  border-bottom: 5px solid #0f0fc4;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.horizontal {
  flex-direction: row;
}

.cardWrapper {
  margin-bottom: 20px;
}

.imageWrapper {
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 80%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
}

.content {
  padding: 20px;
}

.title {
  font-size: 2, 0rem;
  margin: 0 0 8px 0;
  color: #333;
}

.description {
  font-size: 1rem;
  color: #666;
}
