/* Загальний стиль карточки */
.card {
  background-color: #f8f9fa; /* Світлий фон */
  border: 1px solid #ddd; /* Тонка рамка */
  border-radius: 10px; /* Заокруглені кути */
  width: 200px; /* Фіксована ширина */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
  overflow: hidden; /* Зрізає зайвий контент */
  transition: transform 0.3s, box-shadow 0.3s; /* Анімація при наведенні */
  display: flex;
  flex-direction: column; /* Розташування елементів зверху вниз */
  align-items: center;
  text-align: center; /* Центрування тексту */
  padding: 20px; /* Внутрішні відступи */
}

.card:hover {
  transform: scale(1.05); /* Збільшення при наведенні */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Більш насичена тінь */
}

/* Зображення */
.cardImage {
  border-radius: 10px 10px 0 0; /* Заокруглення верхніх кутів */
  object-fit: cover; /* Збереження пропорцій зображення */
}

/* Заголовок */
.cardTitle {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
  font-weight: bold;
}

/* Опис */
.cardDescription {
  font-size: 0.8rem;
  color: #666;
  /* margin: 10px 0 20px; */
}

/* Кнопка */
.cardButton {
  background-color: #007bff; /* Синій фон */
  color: #fff; /* Білий текст */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.cardButton:hover {
  background-color: #0056b3; /* Темніший синій при наведенні */
  transform: translateY(-2px); /* Легке підняття кнопки */
}
