.card {
  display: flex;
  flex-direction: column; /* За замовчуванням вертикальне розташування */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.horizontal {
  flex-direction: row;
}

@media (max-width: 768px) {
  .horizontal {
    flex-direction: column; /* Перехід до вертикального розташування на малих екранах */
  }

  .image {
    width: 50%; /* Розтягуємо зображення */
    height: 100%;
  }
}

.imageWrapper {
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  margin: 10px;
}

.content {
  padding: 16px;
  text-align: center; /* Для більш гармонійного вигляду на малих екранах */
}

.title {
  font-size: 1.5rem;
  margin: 0 0 8px 0;
  color: #333;
}

.description {
  font-size: 1rem;
  color: #666;
}
