.maternBanerContainer {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #eecdcd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerSection {
  background-image: url('/images/pologhaus/akush.JPG'); /* Шлях до зображення */
  background-size: cover; /* Фон заповнює всю секцію */
  background-repeat: no-repeat; /* Забороняє повторення */
  background-position: top; /* Закріплює верхню частину зображення */
  height: 35em; /* Фіксована висота */
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 50px;
}

.maternBanerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7dede;
  padding-bottom: 20px;
  margin-bottom: 20px;

  gap: 10px;
}

.maternBanerText {
  max-width: 80%;
  background-color: #d0f4f5bd;
  border-bottom: 2px solid #0b83d3;
  border-radius: 2%;
}

.maternBanerText p {
  padding-left: 20px;
  margin-top: 10px;
  color: #555;
  line-height: 1.6;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

/* .maternBanerImage img {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  border-radius: 2%;
  border: 2px solid #1d1c1c;
  gap: 30px;
} */

.maternBanerImage {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.maternBanerImage img {
  width: 300px;
  height: auto; /* Збереження пропорцій */
  border-radius: 2%;
  border-bottom: 2px solid #309bd8;
  object-fit: contain; /* Гарантує, що зображення повністю поміщається */
}

/* Адаптивність для екранів менших розмірів */
@media (max-width: 768px) {
  .maternBanerTitle {
    flex-direction: column; /* Вертикальне розташування елементів на менших екранах */
  }
}

.maternBanerContainer h2 {
  text-align: center; /* Центрування тексту по горизонталі */
  margin-top: 20px; /* Відступ зверху */
  margin-bottom: 40px; /* Відступ знизу */
  color: rgb(6, 131, 43);
  font-size: 1.8em;
}
